<h1><%= @user.email %></h1>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Articles</h2>
<%# <%= render @user.articles %>
<ul>
  <% @user.articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%# <h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%= link_to "New Article", new_user_article_path(@user) %>
<br>

<%= link_to "Back", root_path %>